# Python virtual environment
env/
venv/
media/
static/

# Environment variables
.env

# SQLite DB
db.sqlite3

# IDE/project infos
infos.txt

# __pycache__ und andere temporäre Dateien
**/__pycache__/
*.pyc
*.pyo