services:
  web:
    build:
      context: .
      dockerfile: backend.Dockerfile
      target: development
    ports:
      - "8000:8000"
      - '5678:5678'
    volumes:
      - ./:/app:cached
      - videoflix_media:/app/media
      - videoflix_static:/app/static