services:
  web:
    build:
      context: .
      dockerfile: backend.Dockerfile
      target: development
    volumes:
      - ./:/app:cached
      - videoflix_media:/app/media
      - videoflix_static:/app/static

  worker:
    build:
      context: .
      dockerfile: backend.Dockerfile
      target: production
    env_file: .env
    container_name: videoflix_worker
    command: python manage.py rqworker default
    volumes:
      - ./:/app
      - videoflix_media:/app/media
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - db
      - redis